<a href="https://colab.research.google.com/github/jonielbolocon/CpE0332.1-1-Elective-3/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Loop Statement

In [ ]:
#Example 1
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for i in week:
  print(i)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Break Statement

In [ ]:
#Example 2
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for i in week:
  print(i)
  if i == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

Break Statement (After)

In [ ]:
#Example 3

week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for i in week:
  if i == "Thursday":
    break
  print(i)

Sunday
Monday
Tuesday
Wednesday

Looping through a String

In [ ]:
#Example 4
word = "Python"

for i in word:
  print(i)

P
y
t
h
o
n

Application No.3

In [ ]:
#display only thursday using break statement

week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for i in week:
  if i == "Thursday":
    print(i)
    break

Thursday

The range() Function

In [ ]:
#The range() Function
for i in range(6):
  print(i)

for i in range(2,6):
  print(i)

for i in range(2,6,2):
 print(i)

0
1
2
3
4
5
2
3
4
5
2
4

Nested Loops

In [ ]:
#Nested Loops

adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for i in adjective:
  for j in fruits:
    print(i,j)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While Loop

In [ ]:
#While Statement

i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

The break Statement

In [ ]:
#While Statement

i = 1
while i < 6:
  print(i)
  if i == 3:
    break

  i+=1

1
2
3

Continue Statement

In [ ]:
#Continue Statement

i = 0
while i < 6:
  i+= 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

The else statement

In [ ]:
#The else statement
i = 1
while i < 6:
  print(i)
  i += 1
else:
   print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Create a python program that displays Hello 0 to Hello 8

In [ ]:
#Create a python program that displays Hello 0 to Hello 10
i = 0
while i <= 10:
  print("Hello", i)
  i+=1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Let's Try

In [ ]:
#Create a Python program that displays integer less than 10 but not less than 3
i = 3
while i < 10:
    print(i)
    i += 1

3
4
5
6
7
8
9