<a href="https://colab.research.google.com/github/jonielbolocon/CpE0332.1-1-Elective-3/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python indentation

In [ ]:
x = 5
y = 2

if x < y:
  print("Five is greater than 2")

Python comments

In [ ]:
print("Hello world") #This is a python comment

Hello world

Python Variable

In [ ]:
z = 1
z,s = 0, -1
z,s,t=8,9,10

z
s
t

10

Casting

In [ ]:
b = "Joniel" #This is a string
b = int(4)
b

4

Type() Function

In [ ]:
print(type(b))

<class 'int'>

Double Quotes and Single Quotes

In [ ]:
w = "Onin"
print(w)

q = 'Onin'
print(q)

Onin
Onin

Case sensitive

In [ ]:
a=4
A="Sally" #A will not overwrite a

print(a)
print(A)

4
Sally

Multiple Variables

In [ ]:
x, y, z= "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

Mutiple Variables with Single Value

In [ ]:
k = l = m = "four"
print(k)
print(l)
print(m)

four
four
four

Output Variable and Concatenation

In [ ]:
n = "enjoying"

print("Python programming is " + n)

Python programming is enjoying

Arithmetic Operations

In [37]:
t = 5
u = 5

print(t+u)
print(t-u)
print(t*u)
print(t/u)
print(round(5/3))
print(t//u)
print(t%u)
print(t**u)

10
0
25
1.0
2
1
0
3125

Assignment Calculator

In [40]:
t+=3
print(t)

11

Comparison operator

In [43]:
print(x==y)
print(x!=y)
print(x>y)
print(x<y)

False
True
False
True

Logical Operators

In [47]:
print(x==y and x!=y)
print(x==y or x!=y)
print(not(x==y or x!=y))

False
True
False

Identity Operators

In [48]:
x is y
x is not y

True

Bitwise Operators

In [51]:
print(10 | 1)
print(t>>1)

11
5